<header id="header" class="skel-layers-fixed">
    <h1><a href="#">Home Investor</a></h1>
    <nav>
        <ul>
            <li>
                @Html.ActionLink("Create Contract", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Current Assets", "Index", "HomeAssets")
            </li>
            <li>
                @User.Identity.Name
            </li>
            <li>
                @using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Logout" class="btn btn-primary" />
                }
            </li>
        </ul>
    </nav>
</header>
