<header id="header" class="skel-layers-fixed">
    <h1><a href="#">Home Investor</a></h1>
    <nav>
        <ul>
            <li class="btn-group-toggle" style=""
            <li>
                @Html.ActionLink("Create Contract", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Current Assets", "Index", "HomeAssets")
            </li>
            <li>
                @Html.ActionLink("Log in", "Login", "Account")
            </li> 
        </ul>
    </nav>
</header>
