<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<add key="EtherRPC" value="http://127.0.0.1:7545"/>
	<add key="SmtpHost" value="in-v3.mailjet.com" />
	<add key="SmtpPort" value="587 " />
	<add key="SmtpUser" value="dbd070d02f2302e6f34136dfa1ad9936" />
	<add key="SmtpPassword" value="f2aa1a0cbc0d3de9d2632b959876a39f" />

	<add key="FromAddress" value="zchrybkr@gmail.com" />
</appSettings>
